@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

:root{
    --bg-light: #F2F2F2;
    --bg-dark: #13141F;
    --text-white: #fff;
    --text-purple: #8E57E8;
    --text-gray: #B3B3B7;
    --main-color: #13141F;
    --text-light: #6A6B6C;
    --text-dark: #07152F;
    --secondary-color: #1C1D28;
    --card-bg: #F2F2F2;
    --box-shadow-bottom: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.dark-mode{
    --bg-light: #13141F;
    --text-light: #FFFFFF;
    transition: background-color 0.3s ease, color 0.3s ease; 
    --text-dark: #F2F2F2;
    --card-bg: #1C1D28;
}

body.dark-mode{
    background: #13141F;
}

section{
    padding: 7rem 9%;
    margin: 4rem 0;
}

.btn{
    margin-top: 1rem;
    color: var(--text-white);
    font-size: 1.7rem;
    background: var(--text-purple);
    border-radius: .5rem;
    padding: .9rem 3rem;
    transition: all .2s ease-in-out;
}

.btn:hover{
    background: #7d4ec9;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--bg-light);
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow-bottom);
}

header .logo{
    font-size: 2.5rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--text-light);
}

header .navbar{
    flex: 1;
    text-align: right;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    margin: 0 .5rem;
    color: var(--text-light);
    
}

header .navbar .active,
header .navbar a:hover{
    color: var(--text-white);
    background: var(--text-purple);
}

header .controls #theme{
    cursor: pointer;
    font-size: 1.7rem;
    /* background: var(--text-purple); */
    text-align: center;
    color: var(--text-light);
    margin-left: .5rem;
}

header .controls #menu{
    cursor: pointer;
    font-size: 1.7rem;

    /* background: var(--text-purple); */
    text-align: center;
    color: var(--text-light);
    margin-left: .5rem;
    display: none;
}


.home{
    margin-top: 9rem;
    /* min-height: 100vh;
    height: 100%;
    width: 100%; */
    background-size: cover;
    background: var(--bg-light);
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    border: 1px solid red;
}

.home .home-intro{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .home-profile{
    border: 1px solid red;
}


.home .home-intro h3{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-purple);
}

.home .home-intro h1{
    font-size: 7rem;
    margin: 10px 0px 25px;
    line-height: 1;
    font-weight: 650;
    color: var(--text-dark);
}

.home .home-intro h5{
    margin-bottom: 2rem;
    font-size: 1.9rem;
    font-weight: 599;
    color: var(--text-light);
}

.home .home-intro h5 span{
    color: var(--text-purple);
}



.home .home-intro p{
    font-size: 1.7rem;
    line-height: 1.5;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.home .home-intro .socials{
    display: flex;
    margin-bottom: 2rem;
}

.home .home-intro .socials a{
    height: 3.7rem;
    width: 3.7rem;
    line-height: 3.7rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--text-white);
    margin-right: 1.3rem;
    margin-bottom: 2rem;
    background: var(--text-purple);
}

.home .home-intro .socials a:hover{
    transform: scale(1.1);
    transition: .5s;
}


.home .home-profile{
    display: flex;
    justify-content: center;
}

.home .home-profile .profile-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;
    width: 55rem;
    border-radius: 50%;
    overflow: hidden;
    background: var(--text-purple);
    border: .2rem solid var(--text-purple);
}

.home .home-profile .profile-bg img{
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
}


.heading{
    color: var(--text-purple);
    font-size: 4.5rem;
    line-height: 1.3;
    margin-bottom: .3rem;
}

.sub-heading{
    color: var(--text-light);
    font-size: 1.7rem;
    font-weight: 500;
}

.about{
    border: 1px solid red;
    background: var(--bg-light);
}

.about .about-content{
    display: grid;
    grid-template-columns: repeat(2, calc(100% / 2));
    gap: 1rem;
    text-align: left;
}

.about .about-content .about-paragraph{
    border: 1px solid red;
    padding: 3rem;
}

.about .about-content .about-paragraph p{
    color: var(--text-light);
    font-size: 1.7rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}


.about .about-content .about-paragraph h3{
    color: var(--text-light);
    font-size: 2rem;
    font-weight: 600;
}

.about .about-content .about-paragraph span{
    color: var(--text-light);
    font-size: 1.7rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.skills{
    border: 1px solid red;
    background: var(--bg-light);
}

.skills .skills-container{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    padding: 3rem;
}

.skills .skills-container .skill-card{
    padding: 1.2rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .6rem;
    background: var(--card-bg);
}

.skills .skills-container .skill-icon img{
    max-width: 100%;
    height: 5rem;
    width: 4rem;
    margin-bottom: .3rem;
}

.skills .skills-container span{
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--text-light);
}









@media (max-width: 991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width: 768px) {


    header {
        z-index: 100;
    }

    header .controls #menu{
        display: inline-block;
    }

    header .controls #theme,
    header .controls #menu{
        font-size: 3rem;
    }

    header .navbar{
        position: absolute;
        top: -1000%;
        right: 0;
        left: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
    }

    header .navbar.active{
        top: 100%;
        transition: .2s ease-in;
    }

    header .navbar .control{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
    }

    header .navbar .control .close-btn{
        text-align: center;
        font-size: 1.9rem;
        font-weight: 600;
        color: var(--text-purple);
    }

    header .navbar .close-btn{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
    }

    header .navbar a{
        text-align: center;
        background: #eee;
        padding: 1.5rem;
        margin: 1rem 5rem;
        display: block;
    }

    .home .home-profile .profile-bg{
        height: 35rem;
        width: 35rem;
    }
}

 

  

